
:root {
  --green: #33FF33;
  --red: #ff3333;
}

body {
  background-color: black;
  color: var(--green);
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 2rem;
}

#terminal {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.program {
  border: 1px solid var(--green);
  margin-bottom: 10px;
  padding: 10px;
}

.program button {
  width: 100%;
  background-color: black;
  border: none;
  color: var(--green);
  font-size: 16px;
  text-align: left;
  padding: 5px;
  cursor: pointer;
}

.riddle {
  display: flex;
  flex-direction: column;
}

.riddle .response:not(:empty),
.riddle .description:not(:empty),
p {
  margin: .75rem .75rem;
}

.dn {
  display: none;
}

.open {
  display: flex;
}

.success {
  color: var(--green);
}

.fail {
  color: var(--red);
}

#classic-ending {
  text-align: center;
}

.shake {
  animation: shake 0.4s;
}

@keyframes shake {
  0% { transform: translateX(0px); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0px); }
}

input[type="text"] {
  background-color: black;
  border: 1px solid var(--green);
  color: var(--green);
  padding: .75rem;
  font-family: inherit;
  font-size: 16px;
  margin: .5rem .75rem
}

@media (max-width: 600px) {
  body {
    padding: 1rem;
  }

  .program button {
    font-size: 14px;
  }

  input[type="text"] {
    font-size: 14px;
  }
}
